html *{
    -webkit-font-smoothing: antialiased;
    color: rgb(7, 1, 32);
}

#logo{
    width: 50%  
}
@media only screen and (max-width: 600px) {
    #logo{
        width: 50% !important;
        margin-left: 0 !important;
    }
    #app img{
        width: 60% !important;
    }
}

#app img {
    width: 70%;
    margin-left: 20%
}

#time{
    margin: 35px;
}
.nomejogo{
    color: rgb(1, 85, 57);
    margin-bottom: 25px;
}


.name{
    margin-top: 20px;
}
#app p {
    text-align: center;
}
/* barra de nav */


.navbar {
    border: 0;
    border-radius: 3px;
    padding: 5px;
    margin-bottom: 20px;
    background-color: rgba(255, 255, 255, 0.8)!important;
    box-shadow: 0 4px 18px 0 rgba(0,0,0,.12), 0 7px 10px -5px rgba(0,0,0,.15) !important;
    z-index: 1000 !important;
}

.navbar .navbar-brand {
    position: relative;
    height: 50px;
    font-size: 30px;
    line-height: 30px;
    padding: .625rem 0;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
}

.navbar .navbar-nav .nav-item .nav-link .fa, .navbar .navbar-nav .nav-item .nav-link .material-icons {
    font-size: 1.25rem;
    margin-left: 10px;
}

.navbar .navbar-nav .nav-item .nav-link {
    position: relative;
    padding: .9375rem;
    font-weight: 400;
    font-size: 16px;
    border-radius: 3px;
    line-height: 20px;
}

.caixa{
    max-width: 2000% !important;
}



/* background */


.profile-page .page-header {
    height: 420px;
    background-position:center;
}

.header-filter:after, .header-filter:before {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    display: block;
    left: 0;
    top: 0;
    content: "";
}

.header-filter::before {
    background: rgba(0, 3, 17, 0.664);
}

.main-raised {
    margin: -60px 30px 0;
    border-radius: 6px;
    box-shadow: 0 16px 24px 2px rgba(0,0,0,.14), 0 6px 30px 5px rgba(0,0,0,.12), 0 8px 10px -5px rgba(0,0,0,.2);
}

.main {
    background: #FFF;
    position: relative;
    z-index: 3;
}


/* footer */


footer{
    margin-top: 10px;
    color: rgb(7, 1, 32);
    padding: 25px;
    font-weight: 300;
}
.footer p{
    margin-bottom: 0;
    font-size: 16px;
    margin: 0 0 10px;
    font-weight: 300;
}